html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
    overflow-x: hidden;
}

body {
  line-height: 1
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

nav ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input,
select {
  vertical-align: middle
}

li {
  list-style: none
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
}

html,
body {
  width: 100%;
  height: 100%;
  background: #111;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}


/* ---- stats.js ---- */

.count-particles {
  display: none;
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  background-color: #fff;
  /* background-color: #E04D01; */
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
  width: 100vw;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }

  .nav_bar {
    padding-top: 2rem;
  }

  .nav_text {
    font-size: larger;
  }
}

@media (min-width:700px) and (max-width: 1000px) {
  .nav_text {
    font-size: smaller;
  }

}

/*Nav Bar Styling*/
.nav_bar {
  z-index: 5;
  list-style: none;
  background-color: rgb(255, 255, 255);
}

.nav-items {
  display: flex;
  flex-direction: row;
}

.nav_text a:hover {
  background-color: rgb(180, 180, 180);
  cursor: pointer;
}

.nav_text {
  color: black;
  margin: 6px;
  text-decoration: none;
  padding: 11px;
  border-radius: 2px;
  font-weight: bolder;
  font-size: larger;
}

.Name {
  width: 15vw;
}

@media screen and (max-width: 600px) {
  .Name {
    width: 40vw;
  }
}

.btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2px 12px 2px 12px;
  margin-left: 2vw;
}

.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}

.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home .content {
  /* flex: 1 1 40rem; */
  padding-top: 10rem;
  z-index: 1;
  text-align: center;
  margin: auto;
}

.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}

.home .image img {
  width: 50%;
  margin-top: 15%;
  margin-left: 6rem;
  border-radius: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.home .content strong {
  font-size: 3rem;
  font-weight: 800;
  color: #002057;
  text-align: center;
  user-select: none;
}

.home .content strong span {
  font-weight: 800;
  color: #ff7b00;
}

.container h1 {
  user-select: none;
  font-size: 2rem;
  color: #000;
  font-weight: 600;
  padding: 2rem 0;
}

.txt-type {
  font-size: 2.5rem;
  color: rgb(148, 8, 8);
  font-weight: 600;
  padding: 1rem 0;
  text-decoration-color: red;
}

.home .btn {
  margin-top: 1rem;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 18px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}

.home .btn span {
  user-select: none;
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}

.home .btn:hover {
  background: #1a047e;
}

.home .btn:hover i {
  transform: translateX(5px);
}

/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}

.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}

.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #0685da;
}

.social-icons a.github:hover {
  background-color: #0e0e0e;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dev:hover {
  background-color: #070707;
}

.social-icons a.instagram:hover {
  background-color: #ee00da;
}

/* about section starts */
.about {
  background: rgb(255, 255, 255);
}

.about .row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 4rem;
  padding-top: 0rem;
}

.about .row .image {
  text-align: center;
  flex: 1 1 35rem;
}

.about .row .image img {
  margin: 4rem;
  width: 25rem;
  height: auto;
  border-radius: 5%;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer; */
}

.about .row .image img:hover {
  mix-blend-mode: normal;
}

.about .row .content {
  flex: 1 1 45rem;
  padding: 3rem;
  padding-top: 4rem;
}

.about .row .content h3 {
  color: rgb(27, 27, 27);
  font-size: 2.5rem;
  padding-bottom: 0.69rem;
}

.about .row .content .tag {
  font-size: 1.4rem;
  color: #020133;
  font-weight: 600;
  margin-top: 1rem;
}

.about .row .content p {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  font-family: "Nunito";
  font-weight: 400;
  text-transform: none;
}

.about .row .content .box-container {
  display: flex;
  gap: 1.5rem;
  font-family: "Nunito";
  font-weight: 600;
}

.about .row .content .box-container .box p {
  text-transform: none;
}

.about .row .content .box-container .box p span {
  color: #011aff;
}

.resumebtn {
  margin-top: 6rem;
}

.resumebtn .btn {
  padding: 1.7rem 3rem;
  border-radius: 0.5em;
  transition: 0.3s;
  color: #fff;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: "Nunito", sans-serif;
}

.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.resumebtn .btn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}

.resumebtn .btn:hover {
  background: #1a047e;
}

.resumebtn .btn:hover i {
  transform: translateX(5px);
}

/* about media queries starts*/
@media screen and (max-width: 600px) {
  .about .row .image {
    margin-top: 2rem;
  }

  .about .row .image img {
    margin: 0 auto;
    width: 80%;
    mix-blend-mode: normal;
  }

  .about .row {
    padding: 0.5rem;
    padding-bottom: 7rem;
  }

  .about .row .content {
    padding: 1rem;
  }

  .about .row .content .box-container {
    gap: 0;
  }

  .resumebtn {
    margin-left: 25%;
  }
}

/* about media queries ends*/
/* about section ends */
.about .heading {
  font-size: 2.5rem;
  color: rgb(37, 6, 173);
  font-weight: 800;
  text-align: center;
  padding-top: 2%;
}

.skills {
  min-height: 90vh;
  background: linear-gradient(to bottom, #57059e, #4a00e0);
}

.skills h2 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2%;
}

#xyz {
  display: block;
  margin: 0 auto;
  padding-top: 3%;
  padding-bottom: 3%;
  /* border-radius: 15%; */
  width: 90vw;
}

/* @media screen and (max-width: 600px){
  #xyz{
    display: none;
  }
  
} */
.education {
  background: #e5ecfb;
  min-height: 80vh;
}

.education .quote {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}

.education .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5%;
}

.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  transition: 0.3s;
  background: rgb(252, 252, 252);
}

.education .heading {
  font-size: 2.5rem;
  color: rgb(37, 6, 173);
  font-weight: 800;
  text-align: center;
  padding-top: 2%;
}

.education .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}

.education .box-container .box img {
  object-fit: contain;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}

.education .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #012970;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}

.education .box-container .box .content p {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: left;
}

.education h4 {
  font-size: 2rem;
  color: rgb(34, 109, 0);
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/* education media queries starts*/
@media screen and (max-width: 600px) {
  .education .box-container .box {
    flex-direction: column;
    width: 100%;
  }

  .education .box-container .box .image {
    width: 100%;
    height: 25rem;
  }

  .education .box-container .box img {
    width: 100%;
  }

  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 0;
  }

  .education .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}


/* contact section starts */
.contact {
  background: #ffffff;
  min-height: 60vh;
  padding-bottom: 5%;
}

@media (max-width: 900px) {
  .contact .container {
    max-width: 1050px;
    width: 100%;
    background: #fff;
    border-radius: 1.5rem;
    margin: 2rem 5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .contact .container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 2rem;
  }
}

.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

.contact .content .image-box {
  max-width: 60%;
  margin-left: 4rem;
}

.contact .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}

.contact .content form {
  width: 45%;
  margin-right: 3.5rem;
}

.contact .heading {
  font-size: 2.5rem;
  color: rgb(37, 6, 173);
  font-weight: 800;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}

form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}

.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}

.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid rgb(115, 3, 167);
}

.field input:focus~i,
.message textarea:focus~i {
  color: rgb(115, 3, 167);
}

form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}

form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}

form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}

form .message textarea::-webkit-scrollbar {
  width: 0px;
}

form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}

.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #2506ad;
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}

.button-area button:hover {
  background: #421cecf5;
}

.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}

.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}

.button-area button:hover i {
  left: 8px;
}

/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }

  .contact .container {
    margin: 3rem 0 2rem 0;
  }

  .contact .container .content {
    padding: 18px 12px;
  }

  .contact .content .image-box {
    display: none;
  }

  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}

/* contact section media queries ends */
/* contact section ends */
/* footer section starts */
.footer {
  min-height: auto;
  padding-top: 0;
  background: rgb(0, 1, 43);
}

.footer .footer-box-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer .footer-box-container .footer-box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}

.footer .footer-box-container .footer-box h3 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
}

.footer .footer-box-container .footer-box p {
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.7rem 0;
  text-transform: none;
}

.footer .footer-box-container .footer-box p i {
  padding-right: 1rem;
  color: #ffae00;
}

.footer .footer-box-container .footer-box a {
  font-size: 1.5rem;
  color: rgb(238, 238, 238);
  padding: 0.3rem 0;
  display: block;
}

.footer .footer-box-container .footer-box a:hover {
  color: #ffae00;
}

.footer .footer-box-container .footer-box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.footer .footer-box-container .footer-box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}

.footer .footer-box-container .footer-box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
}

.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fff;
  border-top: 0.1rem solid #fff3;
}

.footer .credit a {
  color: #ffae00;
}

.footer .fa {
  color: #e90606;
  margin: 0 0.3rem;
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@media (max-width: 450px) {
  .footer .footer-box-container .box {
    margin: 1.5rem;
  }

  .footer .footer-box-container .box p {
    padding: 0.7rem;
  }

  .footer .footer-box-container .box .share a {
    padding: 1.2rem;
  }
}

/* footer section ends */

/* common media queries starts*/
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  body {
    padding-right: 0;
  }

  section {
    padding: 2rem;
  }
}

/* common media queries ends*/
.skills .container {
  background: rgba(0, 0, 22, 0.4);
  color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.skills {
  padding-left: 2%;
  padding-right: 2%;
}

@media (max-width: 425px) {
  #xyz {
    padding-top: 13%;
  }
}

@media (min-width: 900px) {
  .contact .container {
    margin: auto;
    width: 50%;
  }
}

@media (min-width: 900px) {
  .contact .container {
    max-width: 85vw;
    /* width: 100%; */
    background: #fff;
    border-radius: 1.5rem;
    /* margin: 15vw; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }

  .contact .container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0rem;
  }
}

.timer-ul {
  /* background-color: red; */

  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media screen and (max-width: 992px) {
  .timer-ul {
    margin-top: 1rem;
    flex-direction: column;
    font-size: 1.5rem;
    /* background-color: green; */
  }
}

/*** VARS ***/
/*** GENERAL STYLES ***/
* {
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  background: #c5cae9;
  text-align: center;
}

.clear {
  clear: both;
}

/*** CARD STLES ***/
.cards-container {
  width: 793px;
  max-width: 100%;
  margin: 2rem auto;
}

.card {
  float: left;
  margin: 3rem;
}

.card-one {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

.card-one header {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #E04D01;
}

.card-one header::before,
.card-one header::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  background-color: #E04D01;
}

.card-one header::before {
  z-index: -1;
  transform: skewY(-8deg);
  transform-origin: 100% 100%;
}

.card-one header::after {
  z-index: -1;
  transform: skewY(8deg);
  transform-origin: 0 100%;
}

.card-one header .avatar {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -70px;
  z-index: 0;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
}

.card-one header .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}

.card-one h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
}

.card-one h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}

.card-one .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #777;
}

.card-one .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3rem;
}

.card-one .contacts a {
  display: block;
  width: 33.333333%;
  float: left;
  text-align: center;
  color: #c8c;
}

.card-one .contacts a:hover {
  color: #333;
}

.card-one .contacts a:hover .fa::before {
  color: #fff;
}

.card-one .contacts a:hover .fa::after {
  width: 100%;
  height: 100%;
}

.card-one .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  font-size: 1.3em;
}

.card-one .contacts a .fa:before {
  position: relative;
  z-index: 1;
}

.card-one .contacts a .fa::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background: #c8c;
  transition: width 0.3s, height 0.3s;
}

.card-one .contacts a:last-of-type .fa {
  line-height: 36px;
}

.card-one footer {
  position: relative;
  padding: 1rem;
  background-color: #6573d0;
  text-align: center;
}

.card-one footer a {
  padding: 0 1rem;
  color: #e2e2e2;
  transition: color 0.4s;
}

.card-one footer a:hover {
  color: #c8c;
}

.card-one footer::before {
  content: "";
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom-color: #6573d0;
}

.card-two {
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}

.card-two header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #c8c;
}

.card-two header::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  transform: skewY(8deg);
  transform-origin: 0 100%;
}

.card-two header .avatar {
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -50px;
  z-index: 1;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: #ccc;
  border: 3px solid #fff;
}

.card-two header .avatar img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: auto;
}

.card-two h3 {
  position: relative;
  margin: 80px 0 30px;
  text-align: center;
}

.card-two h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 1px;
  background: #000;
}

.card-two .desc {
  padding: 0 1rem 2rem;
  text-align: center;
  line-height: 1.5;
  color: #777;
}

.card-two .contacts {
  width: 200px;
  max-width: 100%;
  margin: 0 auto 3.5rem;
}

.card-two .contacts a {
  display: block;
  width: 33.333333%;
  float: left;
  text-align: center;
  color: #c8c;
}

.card-two .contacts a:hover {
  color: #333;
}

.card-two .contacts a:hover .fa::before {
  color: #fff;
}

.card-two .contacts a:hover .fa::after {
  top: 0;
}

.card-two .contacts a .fa {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 39px;
  overflow: hidden;
  text-align: center;
  border: 2px solid #c8c;
  border-radius: 50%;
}

.card-two .contacts a .fa:before {
  position: relative;
  z-index: 1;
}

.card-two .contacts a .fa::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: top 0.3s;
  background: #c8c;
}

.card-two .contacts a:last-of-type .fa {
  line-height: 36px;
}

.card-two footer {
  position: relative;
  height: 45px;
  background-color: #6573d0;
  text-align: center;
}

.card-two footer p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.card-two footer p a {
  padding: 0 1rem;
  color: #e2e2e2;
  transition: color 0.4s;
}

.card-two footer p a:hover {
  color: #c8c;
}

.card-two footer::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: inherit;
  transform: skewY(8deg);
  transform-origin: 100%;
}

/*** RESPONSIVE ***/
@media only screen and (max-width: 810px) {
  .card {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
